openapi: 3.1.1
info:
  title: Authorization API
  version: 1.0.0
servers:
  - url: https://api.etrade.com

paths:
  /oauth/access_token:
    get:
      summary: Get Access Token
      description: This method returns an access token, which confirms that the user has authorized the application to access user data. All calls to the E*TRADE API (e.g., accountlist, placeequityorder, etc.) must include this access token along with the consumer key, timestamp, nonce, signature method, and signature. This can be done in the query string, but is typically done in the HTTP header. By default, the access token expires at the end of the current calendar day, US Eastern time. Once the token has expired, no requests will be processed for that token until the OAuth process is repeated - i.e., the user must log in again and the application must secure a new access token. During the current day, if the application does not make any requests for two hours, the access token is inactivated. In this inactive state, the access token is not valid for authorizing requests. It must be reactivated using the Renew Access Token API.
      operationId: getAccessToken
      parameters:
        - name: oauth_token
          in: header
          required: true
          description: Oauth_token received from the Get Request Token API.
          schema:
            type: string
        - name: oauth_token_secret
          in: header
          required: true
          description: Oauth_token_secret received from the Get Request Token API.
          schema:
            type: string
        - name: oauth_verifier
          in: header
          required: true
          description: The verification code received by the user to authenticate with the third-party application.
          schema:
            type: string

      responses:
        '200':
          description: Successful Operation.
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: "#/components/schemas/OAuthGetAccessTokenResponse"
        '400':
          description: There is issue with input
        '500':
          description: An unexpected error has occurred. The error has been logged and is being investigated.

  /oauth/request_token:
    get:
      summary: Get Request Token
      description: This API returns a temporary request token that begins the OAuth process. The request token must accompany the user to the authorization page, where the user will grant your application limited access to the account. The token expires after five minutes.
      operationId: getRequestToken
      additionalProperties: false
      responses:
        '200':
          description: Successful Operation.
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: "#/components/schemas/OAuthGetRequestTokenResponse"
        '400':
          description: There is issue with input
        '500':
          description: An unexpected error has occurred. The error has been logged and is being investigated.

components:
  schemas:
    OAuthGetAccessTokenResponse:
      type: object
      additionalProperties: false
      properties:
        oauth_token:
          type: string
        oauth_token_secret:
          type: string
    OAuthGetRequestTokenResponse:
      type: object
      additionalProperties: false
      properties:
        oauth_token:
          type: string
        oauth_token_secret:
          type: string
        oauth_callback_confirmed:
          type: string
