openapi: 3.0.3
info:
  title: Authorization API
  description: |
    This API allows user authorization for the consumer application.
    It provides functionality for the consumer application to redirect the user to an E*TRADE authorization page, enabling authorization and retrieval of the verification code.
  version: 1.0.0

servers:
  - url: https://us.etrade.com
    description: E*TRADE Production Server

paths:
  /e/t/etws/authorize:
    get:
      summary: Authorize Application
      description: |
        Redirect the user to the E*TRADE authorization page to authorize the application using the request token and consumer key. Upon successful authorization, a verification code (oauth_verifier) is generated by E*TRADE which can be provided to the application either manually by the user or automatically via a callback URL.
      parameters:
        - name: oauth_consumer_key
          in: header
          required: true
          description: The value used by the consumer to identify itself to the service provider.
          schema:
            type: string
        - name: oauth_token
          in: header
          required: true
          description: The consumer’s request token.
          schema:
            type: string
      responses:
        "302":
          description: Redirect to the authorization URL for user authorization.
          headers:
            Location:
              description: URL of the authorization page.
              schema:
                type: string
          content:
            text/html:
              schema:
                type: string
        "400":
          description: There is an issue with user input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid input provided
        "500":
          description: An unexpected error occurred on the server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Server error occurred. The issue is being investigated.
components:
  schemas:
    AuthorizeResponse:
      type: object
      properties:
        oauth_verifier:
          type: string
          format: uri
          description: Verification code provided by E*TRADE after successful authorization.
          example: WXYZ89