openapi: 3.0.3
info:
  title: Authorization API
  description: |
    Renews the OAuth access token after two hours or more of inactivity.
    If the application does not make any requests for two hours, the access token is inactivated. 
    In this inactive state, the access token is not valid for authorizing requests. It must be reactivated using 
    the Renew Access Token API. By default, the access token expires at midnight US Eastern time. 
    Once the token has expired, no further requests will be processed until the user logs in again and the 
    application secures a new access token.
  version: 1.0.0
paths:
  /oauth/renew_access_token:
    get:
      summary: Renew Access Token
      description: |
        Renews the OAuth access token. If the access token has been inactive for two hours, it must be reactivated using this endpoint.
      parameters:
        - name: oauth_consumer_key
          in: header
          required: true
          description: The value used by the consumer to identify itself to the service provider.
          schema:
            type: string
        - name: oauth_timestamp
          in: header
          required: true
          description: The date and time of the request, in epoch time. Must be accurate to within five minutes.
          schema:
            type: string
        - name: oauth_nonce
          in: header
          required: true
          description: |
            A nonce: roughly, an arbitrary or random value that cannot be used again with the same timestamp.
          schema:
            type: string
        - name: oauth_signature_method
          in: header
          required: true
          description: The signature method used by the consumer to sign the request. The only supported value is HMAC-SHA1.
          schema:
            type: string
            enum:
              - HMAC-SHA1
        - name: oauth_signature
          in: header
          required: true
          description: |
            Signature generated with the shared secret and token secret using the specified oauth_signature_method, as described in OAuth documentation.
          schema:
            type: string
        - name: oauth_token
          in: header
          required: true
          description: The consumer’s access token to be renewed.
          schema:
            type: string
      responses:
        '200':
          description: Operation successful.
          content:
            text/plain:
              schema:
                type: string
              example: |
                Access Token has been renewed
        '400':
          description: Issue with the input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: invalid_request
                message: There is an issue with the input parameters.
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: server_error
                message: An unexpected error has occurred. The error has been logged and is being investigated.
servers:
  - url: https://api.etrade.com
    description: ETrade API Production Server