openapi: 3.0.3
info:
  title: Authorization API
  description: API to revoke an OAuth access token.
  version: 1.0.0

servers:
  - url: https://api.etrade.com

paths:
  /oauth/revoke_access_token:
    get:
      summary: Revoke Access Token
      description: |
        This method revokes an access token that was granted for the consumer key. 
        Once the token is revoked, it no longer grants access to E*TRADE data. 
        We strongly recommend revoking the access token once your application no longer needs 
        access to the user’s E*TRADE account. In the event of a security compromise, 
        a revoked token is useless to a malicious entity.
      parameters:
        - name: oauth_consumer_key
          in: header
          required: true
          description: |
            The value used by the consumer to identify itself to the service provider.
          schema:
            type: string
        - name: oauth_timestamp
          in: header
          required: true
          description: |
            The date and time of the request, in epoch time. Must be accurate to within five minutes.
          schema:
            type: string
        - name: oauth_nonce
          in: header
          required: true
          description: |
            A nonce, as described in the authorization guide - roughly, 
            an arbitrary or random value that cannot be used again with the same timestamp.
          schema:
            type: string
        - name: oauth_signature_method
          in: header
          required: true
          description: The signature method used by the consumer to sign the request.
          schema:
            type: string
            enum:
              - HMAC-SHA1
        - name: oauth_signature
          in: header
          required: true
          description: |
            Signature generated with the shared secret and token secret using the 
            specified oauth_signature_method, as described in OAuth documentation.
          schema:
            type: string
        - name: oauth_token
          in: header
          required: true
          description: The consumer’s access token to be revoked.
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation. The access token has been successfully revoked.
          content:
            application/json:
              schema:
                type: string
                example: "Revoked Access Token"
        '400':
          description: There is an issue with the input.
          content:
            application/json:
              schema:
                type: string
                example: "Invalid Request"
        '500':
          description: |
            An unexpected error has occurred. The error has been logged and is being investigated.
          content:
            application/json:
              schema:
                type: string
                example: "Internal Server Error"